<p>Let op: Als u opdrachten direct ingeeft in de EekBoek shell, moet
de gehele opdracht op &eacute;&eacute;n enkele regel worden ingegeven! Dit
in tegenstelling tot de zogenaamde <a
href="../ebshell/index.html">batch mode</a>, waarbij opdrachten over
meerdere regels mogen worden ingegeven.</p>
