  <tr valign="top">
    <td><code>--boekjaar=<var>code</var></code></td>
    <td>Het boekjaar waarover de rapportage moet worden aangemaakt.
	<br>Deze optie kan niet worden gebruikt samen met <code>--periode</code>.
    </td>
  </tr>
